*{
    margin: 2px;
    padding: 1px;
}
header{
    background-color:#6bb3e2;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
body{
   /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(214,236,111,1) 0%, rgba(25,126,112,1) 87%);*/
    background-color: aliceblue;
    
}
.navbar{
    background-color: #6bb3e2;
}
#main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap: 2rem;
    align-content: center;
}
#main-grid > *{
    background-color: #dfd7d9;
}

.content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones{
    display: inline-block;
    margin: 1 10px;

}
img {
    max-width: 300px;
    max-height: 300px;
   }
.changeColor {
    background-color: #464343;

}

.carrusel-items{
    display: flex;
    /*overflow-x = pone el scroll debajo de las imagenes en orizontal*/
    overflow-x: hidden;
    /*overflow-y:hidden = elimina el scroll vertical*/
    overflow-y: hidden;
    /* lo de abajo es para que no se corte la imagen*/
    
    padding: 50px 0px;
}

.carrusel-item{
    width: 300px;
    height: 300px;
}
/*.carrusel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.carrusel-item:hover{
    transform: scale(1.3);

}

.div-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    
}
.btn-toolbar{
    align-items: center;
    justify-content: center;
    
}


.Titulos{
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.editoriales{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.utopia{
    width: 250px;
}

/* segundo carrusel */

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.slide-img{
    height: 450px;
    position: relative;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type{
    display: flex;
    flex-direction: column;
}

.type a{
    color: #222222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.precio{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: poppins;
    letter-spacing: 0.5px;
}
.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.buy-btn:hover{
    color: #ffffff;
    background-color: #29b447;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedor{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 10px;
}
.contenedor h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.about{
    flex-grow: 1;
    flex-basis: 100%;
}

.services{
    flex-grow: 1;
    flex-basis: 100%;
}
.contact{
    flex-grow: 1;
    flex-basis: 100%;
    
}
.contact ul{
    list-style: none;
    line-height: 2;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact a:hover{
    color: lightblue;
    text-decoration: underline
}


@media only screen and (max-width:768px) {
    .contenedor{
        flex-direction: column;
    }
    .box{
        flex-direction: column;
    }
    
}


